#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('copper_loading.gif')
	 no-repeat center center;	
	z-index: 99999;
}
#cursorp{
    cursor: pointer !important; 
}
#justifycontent{
    text-align: justify !important;
    text-justify: inter-word !important;
}
#largercontent{
    font-size: 1.4em !important;
}
#bgcolorindigo{
   background: linear-gradient(-17deg,rgb(192, 207, 240),#fff,#9dd5e3);;
}
#bgcolorfoot{
	background: linear-gradient(-17deg,rgb(192, 207, 240),#fff,#fff);;
}
/* #colorbutton{
background-color: #5e5e5e;
color: #fff;
} */
